_site/XSD/v2000problemacondicaoavaliacaoai.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esus.ufsc.br/v2000/problemacondicaoavaliacaoai" version="1.0">

  <xs:complexType name="problemaCondicaoAvaliacaoAITransport">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ciaps" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="outroCiap1" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="outroCiap2" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="cid10" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
