_site/XSD/v2000outrossia.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esus.ufsc.br/v2000/outrossia" version="1.0">

  <xs:complexType name="outrosSiaTransport">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="codigoExame" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="solicitadoAvaliado" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
