XSD/exame.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esus.ufsc.br/exame" version="1.0">

  <xs:complexType name="exameTransport">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="codigoExame" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="solicitadoAvaliado" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
