XSD/fichaatendimentoodontologicochild.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:encaminhamentoExterno="http://esus.ufsc.br/encaminhamentoexterno"
           xmlns:medicamento="http://esus.ufsc.br/medicamento"
           xmlns:medicoes="http://esus.ufsc.br/medicoes"
           xmlns:problemacondicao="http://esus.ufsc.br/problemacondicao"
           xmlns:procedimentoQuantidade="http://esus.ufsc.br/procedimentoquantidade"
           xmlns:resultadosExame="http://esus.ufsc.br/resultadosexame"
           xmlns:ivcf="http://esus.ufsc.br/ivcf"
           xmlns:exame="http://esus.ufsc.br/exame"
           xmlns:solicitacaooci="http://esus.ufsc.br/solicitacaooci"
           targetNamespace="http://esus.ufsc.br/fichaatendimentoodontologicochild" version="1.0">

    <xs:import namespace="http://esus.ufsc.br/procedimentoquantidade" schemaLocation="procedimentoquantidade.xsd"/>

    <xs:import namespace="http://esus.ufsc.br/medicamento" schemaLocation="medicamento.xsd"/>

    <xs:import namespace="http://esus.ufsc.br/encaminhamentoexterno" schemaLocation="encaminhamentoexterno.xsd"/>

    <xs:import namespace="http://esus.ufsc.br/resultadoexame" schemaLocation="resultadoexame.xsd"/>

    <xs:import namespace="http://esus.ufsc.br/resultadosexame" schemaLocation="resultadosexame.xsd"/>

    <xs:import namespace="http://esus.ufsc.br/medicoes" schemaLocation="medicoes.xsd"/>

    <xs:import namespace="http://esus.ufsc.br/problemacondicao" schemaLocation="problemacondicao.xsd"/>

    <xs:import namespace="http://esus.ufsc.br/exame" schemaLocation="exame.xsd"/>

    <xs:import namespace="http://esus.ufsc.br/ivcf" schemaLocation="ivcf.xsd"/>

    <xs:import namespace="http://esus.ufsc.br/solicitacaooci" schemaLocation="solicitacaooci.xsd"/>

    <xs:complexType name="fichaAtendimentoOdontologicoChildTransport">
    <xs:sequence>
            <xs:element minOccurs="0" name="numProntuario" type="xs:string"/>
            <xs:element minOccurs="0" name="cnsCidadao" type="xs:string"/>
            <xs:element minOccurs="0" name="cpfCidadao" type="xs:string"/>
            <xs:element minOccurs="0" name="dtNascimento" type="xs:long"/>
            <xs:element minOccurs="0" name="localAtendimento" type="xs:long"/>
            <xs:element minOccurs="0" name="gestante" type="xs:boolean"/>
            <xs:element minOccurs="0" name="necessidadesEspeciais" type="xs:boolean"/>
            <xs:element minOccurs="0" name="tipoAtendimento" type="xs:long"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tiposEncamOdonto" type="xs:long"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tiposFornecimOdonto" type="xs:long"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tiposVigilanciaSaudeBucal" type="xs:long"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tiposConsultaOdonto" type="xs:long"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="procedimentosRealizados" type="procedimentoQuantidade:procedimentoQuantidadeTransport"/>
            <xs:element minOccurs="0" name="turno" type="xs:long"/>
            <xs:element minOccurs="0" name="sexo" type="xs:long"/>
            <xs:element minOccurs="0" name="dataHoraInicialAtendimento" type="xs:long"/>
            <xs:element minOccurs="0" name="dataHoraFinalAtendimento" type="xs:long"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="exame" type="exame:exameTransport"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="medicamentos" type="medicamento:medicamentoTransport"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="encaminhamentos" type="encaminhamentoExterno:encaminhamentoExternoTransport"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="resultadosExames" type="resultadosExame:resultadosExameTransport"/>
            <xs:element minOccurs="0" name="medicoes" type="medicoes:medicoesTransport"/>
            <xs:element minOccurs="0" name="tipoParticipacaoCidadao" type="xs:long"/>
            <xs:element minOccurs="0" name="tipoParticipacaoProfissionalConvidado" type="xs:long"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="problemasCondicoes" type="problemacondicao:problemaCondicaoTransport"/>
            <xs:element minOccurs="0" name="ivcf" type="ivcf:ivcfTransport"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="solicitacoesOci" type="solicitacaooci:solicitacaoOciTransport"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
