XSD/informacoessocioeconomicas.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esus.ufsc.br/informacoessocioeconomicas" version="1.0">      
  
  <xs:complexType name="informacoesSocioEconomicasTransport">
    <xs:sequence>
      <xs:element minOccurs="0" name="alimentosAcabaramAntesTerDinheiroComprarMais" type="xs:boolean"/>
      <xs:element minOccurs="0" name="comeuAlgunsAlimentosQueTinhaDinheiroAcabou" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
