XSD/lotacaoheader.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esus.ufsc.br/lotacaoheader" version="1.0">

  <xs:complexType name="lotacaoHeaderTransport">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="profissionalCNS" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="cboCodigo_2002" type="xs:string"/>
      <xs:element maxOccurs="1" name="cnes" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ine" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
