XSD/profissionalcborowitem.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esus.ufsc.br/profissionalcborowitem" version="1.0">

  <xs:complexType name="profissionalCboRowItemTransport">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="cnsProfissional" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="codigoCbo2002" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
