XSD/resultadoexame.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esus.ufsc.br/resultadoexame" version="1.0">

  <xs:complexType name="resultadoExameTransport">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="tipoResultado" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="0" name="valorResultado" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
