XSD/saidacidadaocadastro.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esus.ufsc.br/saidacidadaocadastro" version="1.0">

  <xs:complexType name="saidaCidadaoCadastroTransport">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="motivoSaidaCidadao" type="xs:long"/>
      <xs:element maxOccurs="1" minOccurs="0" name="dataObito" type="xs:long"/>
      <xs:element maxOccurs="1" minOccurs="0" name="numeroDO" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
