XSD/v2000procedimentoquantidade.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esus.ufsc.br/v2000/procedimentoquantidade" version="1.0">

  <xs:complexType name="procedimentoQuantidadeTransport">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="coMsProcedimento" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="quantidade" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
